<form [formGroup]="signupForm">
  <ion-card-header>
    <ion-card-title color="primary">Cadastro</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>

    <ion-input type="email" formControlName="email" required email></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input
      type="password"
      formControlName="password"
      minlength="8"
      required
    ></ion-input>
  </ion-item>

  <div class="ion-padding-top">
    <ion-button
      class="ion-margin-top ion-activatable ripple-parent"
      size="large"
      shape="round"
      expand="block"
      (click)="onSignUp()"
      ><ion-icon slot="start" name="log-in-sharp"></ion-icon>criar conta
      <ion-ripple-effect></ion-ripple-effect
    ></ion-button>

    <ion-button
      class="ion-margin-top"
      size="full"
      fill="clear"
      [routerLink]="['../login']"
      >ir para Log-in</ion-button
    >
  </div>
</form>
